
<div class="container_menu-bar">
  <div class="container_menu">
    <a href="#"><img src="https://www.dwinawan.com/blog/logoorange.png" alt=""></a>
    <a>LEARN</a>
    <a>BLOG</a>
    <a>BOOKMARKS</a>
    <a>UI KIT</a>
    <a>FAQ</a>
  </div>
  <ul>
    <li><a href="#"><img src="	https://www.dwinawan.com/img/icon_twitter.svg" alt=""> </a></li>

    <li><a href="#"><img src="	https://www.dwinawan.com/img/icon_instagram.svg" alt=""></a></li>

    <li><a href="#"><img src="https://www.dwinawan.com/img/icon_dribbble.svg" alt=""></a></li>

    <li><a href="#"><img src="https://www.dwinawan.com/img/icon_medium.svg" alt=""></a></li>
  </ul>
</div>
