.menu-title-container{
  color: white;
}

.menu-title-container > h1{
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);

  font-size: 500px;
  font-family: Segoe UI;
  display: flex;
  justify-content: center;
}
