.menu-title-container{
  color: white;
}

.menu-title-container > h1{
  font-size: 200px;
  font-family: Segoe UI;
  display: flex;
  justify-content: center;
}

.menu-title-container > hr {
  border: 0.5px solid rgba(255,255,255,0.1);
}
